@font-face {
    font-family: robotoRegular;
    src: url("Roboto-Regular.ttf");
}

html, body {
    font-family: robotoRegular;
    margin: 0;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    background-color: black;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(74, 74, 74, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
    width: 100%;
    min-height: 100%;
}

.content_element {
    flex: 1 1 auto;
    width: 100%;
    min-height: 100%;
}

#saved_artists_container {
    border-right: solid #595959;
}

#saved_artists_title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
    text-align: center;
    color: white;
}

#recommended_artists_container {
    border-left: solid #595959;
}

#recommended_artists_title {
    font-size: 24px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
}

.content_error {
    background-color: #cccccc;
}

.section_message {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-top: 30%;
    height: 100%;
}

.scrollbox {
    overflow: auto;
    max-height: fit-content;
}