<!DOCTYPE html>
<html>

<head>
    <title>Song Oracle - {{content_title}}</title>
    <link href="/static/style_dashboard.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>

<body>
    {% include 'toolbar.html' %}

    <div id="content">
        <div id="saved_artists_container" class="content_element">
            {% include 'saved_artists.html' %}
        </div>

        <div id="recommended_artists_container" class="content_element">
            {% include 'recommended_artists.html' %}
        </div>

        {% include 'toast.html' %}

        <script src="/static/script_dashboard.js"></script>
</body>

</html>