<!DOCTYPE html>
<html>

<head>
    <title>Song Oracle - Error</title>
    <style>
        body {
            background-color: #555555;
            color: lightgray;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }

        div {
            margin-top: 20%;
        }
    </style>
</head>

<body>
    <div>
        <h1>Uh oh...</h1>
        <p>There was an error.<br />Sorry for the inconvenience!</p>
        <a href="/">Back to Dashboard</a>
    </div>
</body>

</html>