<!DOCTYPE html>
<html>

<head>
    <title>Song Oracle - Sign Up</title>
    <!--<script src="http://code.jquery.com/jquery-1.9.1.js"></script>-->
    <script src="/static/jquery-3.3.1.js"></script>
</head>

<body>
    <form id="signup_form" action="/signup" method="POST" role="form">
        <input type="text" name="username" id="username" placeholder="Username" required autofocus />
        <button id="signup_button" type="button">Sign Up</button>
    </form>
    <div id="error_div"></div>

    <script src="/static/script_signup.js"></script>
</body>

</html>