<!DOCTYPE html>
<html>

<head>
    <title>Song Oracle - {{content_title}}</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/static/style_view_content.css" rel="stylesheet" />
</head>

<body>
    {% include 'toolbar.html' %}

    <div id="content">
        <iframe id="content_embed" src="{{content_url}}" width="300" height="380" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>
        {% if has_lyrics %}
        <a id="track_lyrics" href="{{lyrics_url}}" target="_blank">
            View Lyrics <img src="/static/external_link.png" id="track_lyrics_link_icon" /></a>
        {% endif %}
    </div>
</body>

</html>